<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap mp uap3">

  <Identity
    Name="VideoPlayerPrototype"
    Publisher="CN=CppTeam"
    Version="1.0.4.0" />

  <mp:PhoneIdentity PhoneProductId="e885203f-c4b4-48cc-8111-bbcaf5fe8bf6" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>VideoPlayerPrototype</DisplayName>
    <PublisherDisplayName>CppTeam</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="VideoPlayerPrototype.App">
      
      <uap:VisualElements
        DisplayName="VideoPlayerPrototype"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="VideoPlayerPrototype"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
            
    </Application>
  </Applications>

  <Capabilities>
    <uap3:Capability Name="backgroundMediaPlayback"/>
    <uap:Capability Name="videosLibrary"/>
    <uap:Capability Name="removableStorage"/>
  </Capabilities>

  <Extensions>
    <Extension Category="windows.certificates">
      <Certificates/>
    </Extension>

    <!--<Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AVSource.dll</Path>
        <ActivatableClass ActivatableClassId="AVSource.FFVideoDecoder2" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="AVSource.AVSchemeHandler" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="AVSource.AVByteStreamHandler" ThreadingModel="both" />
      </InProcessServer>
    </Extension>-->
  </Extensions>
</Package>